$accent-color: #343a40;

// text
$text-primary-color: #ccc;
$text-secondary-color: #111;

// link
$link-color-hover: #fff;

// side bar
$sidebar-color: #40454b;

// height
$height-header: 8vh;

// border
$border-color-devide: #888;
$border-checkbox-color: #ccc;
$border-color-todo-hover: #fff; 